* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff8b2c;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav ul {
    display: flex;
    margin: 20px;
    flex-direction: row;
    padding: 20px;
    list-style: none;

}

nav a {
    border: solid 2px #000;
    padding: 20px 20px 10px;
    text-decoration: none;
    background-color: whitesmoke;
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

/*class selectors*/

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    top: 56%;
    background-color: floralwhite;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}