* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --heading-background-color: rgb(0, 24, 4);
    --heading-text-color: #3a2626;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0/ 0.1);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav {
    background-color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px height: auto;
    border: 1px solidblack;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

/*class selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}